.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  position: absolute;
  right: 45px;

  width: 200px;
  padding: 8px 12px;

  border-radius: 10px;
  border: 1px solid #00ff88;

  background: #111;
  color: white;

  outline: none;

  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}